$inuit-enable-inline-fields: true;
$inuit-enable-text-input--bare: true;
$inuit-enable-validation-states: true;
$inuit-enable-input--tiny: true;
$inuit-enable-input--small: true;
$inuit-enable-input--regular: true;
$inuit-enable-input--large: true;
$inuit-enable-input--huge: true;

$inuit-enable-btn--small: true;
$inuit-enable-btn--large: true;
$inuit-enable-btn--huge: true;
$inuit-enable-btn--full: true;
$inuit-enable-btn--primary: true;
$inuit-enable-btn--tertiary: true;
$inuit-enable-btn--disabled:true;
$inuit-enable-btn--bare: true;
$inuit-enable-btn--icon: true;

$inuit-enable-layout--tiny:true;
$inuit-enable-layout--small:true;
$inuit-enable-layout--large:true;
$inuit-enable-layout--huge:true;
$inuit-enable-layout--flush:true;
$inuit-enable-layout--rev:true;
$inuit-enable-layout--middle:true;
$inuit-enable-layout--bottom:true;
$inuit-enable-layout--full:true;
$inuit-enable-layout--right:true;
$inuit-enable-layout--center:true;
$inuit-enable-layout__item--full:true;
$inuit-enable-layout__item--center:true;
$inuit-enable-layout__item--bottom:true;

//responsive spacing module variables
$inuit-enable-responsive-margins:true;
$inuit-enable-responsive-margins--tiny:true;
$inuit-enable-responsive-margins--small:true;
$inuit-enable-responsive-margins--large:true;
$inuit-enable-responsive-margins--huge:true;

$inuit-enable-responsive-margins--negative:true;
$inuit-enable-responsive-margins--negative-tiny:true;
$inuit-enable-responsive-margins--negative-small:true;
$inuit-enable-responsive-margins--negative-large:true;
$inuit-enable-responsive-margins--negative-huge:true;

$inuit-enable-responsive-margins--none:true;

$inuit-enable-responsive-margins--rtl:true;

$inuit-enable-responsive-paddings:true;
$inuit-enable-responsive-paddings--tiny:true;
$inuit-enable-responsive-paddings--small:true;
$inuit-enable-responsive-paddings--large:true;
$inuit-enable-responsive-paddings--huge:true;

$inuit-enable-responsive-paddings--none:true;

$inuit-enable-responsive-paddings--rtl:true;

//spacing variables
$inuit-enable-margins:true;
$inuit-enable-margins--tiny:true;
$inuit-enable-margins--small:true;
$inuit-enable-margins--large:true;
$inuit-enable-margins--huge:true;

$inuit-enable-margins--negative:true;
$inuit-enable-margins--negative-tiny:true;
$inuit-enable-margins--negative-small:true;
$inuit-enable-margins--negative-large:true;
$inuit-enable-margins--negative-huge:true;

$inuit-enable-margins--none:true;

$inuit-enable-margins--rtl:true;

$inuit-enable-paddings:true;
$inuit-enable-paddings--tiny:true;
$inuit-enable-paddings--small:true;
$inuit-enable-paddings--large:true;
$inuit-enable-paddings--huge:true;

$inuit-enable-paddings--none:true;

$inuit-enable-paddings--rtl:true;


// Settings
@import "../bower_components/px-colors-design/_settings.colors.scss";

// Generic
@import "../bower_components/px-normalize-design/_generic.normalize.scss";
@import "../bower_components/px-box-sizing-design/_generic.box-sizing.scss";
@import "../bower_components/px-helpers-design/_generic.helpers.scss";

// Base
@import "../bower_components/px-flexbox-design/_base.flexbox.scss";
@import "../bower_components/px-viewport-design/_base.viewport.scss";
@import "../bower_components/px-typography-design/_base.typography.scss";

// Trumps
@import "../bower_components/inuit-clearfix/_trumps.clearfix.scss";
@import "../bower_components/px-spacing-responsive-design/_trumps.spacing-responsive.scss";
@import "../bower_components/px-widths-responsive-design/_trumps.widths-responsive.scss";

@import "../bower_components/px-forms-design/_base.forms.scss";
@import "../bower_components/px-buttons-design/_objects.buttons.scss";
@import "../bower_components/px-layout-design/_objects.layout.scss";


.list-bare {
  margin: 0;
  padding: 0;
  list-style: none; 
}